div#container {
    
}
div#header {
    background-image: url(images/background.jpg);
    background-position: top;
    background-position: relative;
    background-position: center;
    background-repeat: no-repeat;
    padding: .25rem;
}
h1 {
    text-align: center;
    color: white;
}
div#plans ul li{
    list-style: none;
    margin: 2rem;
    position: center;
}
.center {
    text-align: center;
}
.personal{
    float: left;
    margin: 2rem 2rem 0 0;
}
.small_business {
    float: left;
    margin: 2rem;
}
.enterprise {
    float: left;
    margin: 2rem;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
div#summary {
    
}
div.fl {
    
}
div.fr {
    
}
div#footer {
    background-color: black;
}
p {
    color: white;
}
li {
    
}
